.b-ui{

    &__tools{
        width: calc(100% - 8rem);
    }

    &__tool{
        &__edit-bcg{
            width: 0;
            height: 0;
            padding: 0;
            margin: 0;
            visibility: hidden;
            opacity: 0;
            transform: translateX(-100%);
            transition: transform 0.3s ease;

            &__item{
                width: 49%;
                margin-bottom: 1.5rem;
                border: 4px solid rgba(255,0,0,0);
                transition: all 0.3s ease;

                &:hover{
                    @include breakpoint(overPhone){
                        cursor: pointer;
                        border: 4px solid rgba(255,0,0,0.6);
                    }

                }

                &.selected{
                    border: 4px solid red;
                }
            }
        }

        &__edit-text{
            width: 0;
            height: 0;
            padding: 0;
            margin: 0;
            visibility: hidden;
            opacity: 0;
            transform: translateX(-100%);
            transition: transform 0.3s ease;


            &__title{
                @include font-size(22,22);
                color: #f8f8f8;
                font-family: $ff-main-medium;
                margin-bottom: 11.2rem;
            }

            &__item{
                color: #626a7b;
                @include font-size(16,16);
            }

            &__item--switches{
                
            }

        }

        &.active{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            padding: 3.6rem 1.5rem;
            width: 100%;
            height: auto;
            margin: 0;
            visibility: visible;
            opacity: 1;
            transform: translateX(0);
            transition: transform 0.3s ease;
        }
    }
}
